<div class="container-fluid">
  <div class="row" id="app_row">
    <div class="col-md-6" id="app_row_image">
    </div>

    <div class="col-md-6 d-flex align-items-center">
      <div id="app_explore_box">
        <%= link_to "EXPLORAR APP >>", app_landing_path, class: "h5 m-4 title text-reset" %>
        <p class="m-4">Busque, compare y gestione el mejor terreno para su proyecto inmobiliario de forma rápida y confiable a través de nuestra plataforma virtual.</p>
      </div>
    </div> 
  </div>
</div>