<div class="container-fluid">
  <div class="row" id="app_row">
    <div class="col-md-6" id="app_row_image">
    </div>

    <div class="col-md-6 d-flex align-items-center">
        <p class="lead mt-4 mb-4 text-center" id="lead_text">Desarrollamos proyectos inmobiliarios, creamos arquitectura y promovemos un entorno colaborativo en el sector a través de la tecnología</p>
    </div> 
  </div>
</div>