<div class="row my-5">
	<div class="col-12 my-5">
		<%= link_to "BLOG", project_path, class: "h5 my-4 title text-reset" %>
	</div>
	<div class="col-md-7">
		<img src="<%= asset_path('project_row.jpg') %>" class="img-fluid my-2">
	</div>
	<div class="col-md-5">
		<h5 class="h4 font-weight-bold text-uppercase">Lo que debes analizar para comprar un apartamento, según un arquitecto</h5>
		<br>
		<p>El proyecto propone el desarrollo de una vivienda unifamiliar para la venta localizada a 17,4km (25 min. aprox.) de la ciudad de Barranquilla en la vía la Cordialidad, atravesando la zona industrial de mayor desarrollo del departamento entre Galapa y Barranquilla...</p>
		<br>
		<%= link_to "seguir leyendo >>", project_path, class: "font-weight-bolder mt-3 mb-5 text-reset" %>
	</div>
</div>