 <!--FEATURES-->
  <div class="row text-center ml-auto mr-auto" id="features">
    <!--FEATURE 1-->
    <div class="col-12 col-md-4 col-lg-3 ml-auto feature">
      <div class="card border-white p-1">
        <div class="card-body">
          <img class="img-fluid" src="<%= asset_path('feature5.png') %>" alt="feature 5">
          <h5 class="card-title font-weight-bold">Inmuebles y terrenos en venta</h5>
          <p class="card-text">Visualize en tiempo real los inmuebles y terrenos en venta en el mapa a través del sistema de información geográfica.</p>
        </div>
      </div>
    </div><!-- END FEATURE 1-->

    <!--FEATURE 2-->
    <div class="col-12 col-md-4 col-lg-3 feature">
      <div class="card border-white p-1">
        <div class="card-body">
          <img class="img-fluid" src="<%= asset_path('feature3.png') %>" alt="feature 3">
          <h5 class="card-title font-weight-bold">Analize y compare resultados</h5>
          <p class="card-text">Ingrese datos para el análisis de los terrenos según las necesidades de su proyecto inmobiliario.</p>
        </div>
      </div>
    </div><!-- END FEATURE 2-->

    <!--FEATURE 3-->
    <div class="col-12 col-md-4 col-lg-3 mr-auto feature">
      <div class="card border-white p-1">
        <div class="card-body">
          <img class="img-fluid" src="<%= asset_path('feature6.png') %>" alt="feature 6">
          <h5 class="card-title font-weight-bold">Aplicación web en la nube</h5>
          <p class="card-text">Accede a la aplicación desde cualquier dispositivo, en cualquier lugar y en cualquier momento, solo con una conexión a internet.</p>
        </div>
      </div>
    </div><!-- END FEATURE 3-->
  </div><!--END FEATURES-->