<footer id="footer">
  <div class="container-fluid">
    <hr class="m-0">
    <div class="row bg-light">
      <div class="col-12 col-md-4 m-3">
        <img class="img-fluid float-right" src="<%= asset_path('logo_footer.png') %>">
      </div>
      <div class=" col-6 col-md-3 mt-3">
        <ul class="list-unstyled">
          <li><h6>Contacto</h6></li>
          <li class="small">contacto@terrenosurbanos.co</li>
          <br>
          <li class="small">Barránquilla, Atlántico</li>
          <li class="small">COLOMBIA</li>
        </ul>
      </div>
      <div class="col-6 col-md-3 mt-3">
        <ul class="list-unstyled">
          <li><a href="#" class="h6" data-toggle="modal" data-target="#modal_terms">Términos y condiciones de uso</a></li>
          <br>
          <li><a href="#privacy" class="h6" data-toggle="modal" data-target="#modal_terms">Política de privacidad</a></li>
        </ul>
      </div>
    </div>

    <div class="row bg-secondary">
      <div class="col-12 text-center align-text-bottom text-white">
        <p class="m-1"><small>Copyright © 2017 Terrenos Urbanos S.A.S. Todos los derechos reservados.</small></p>
      </div>
    </div>
  </div>  
</footer>