<footer class="text-white" id="footer">
  <div class="container-fluid">
    <div class="row text-center" id="footer_contact">
      <div class="col-12">
        <ul class="list-unstyled">
          <li><p class="h4 logo_text mb-4" id="footer_logo">TERRENOS<br>URBANOS</p></li>
          <li><a href="#" class="h6 text-reset" data-toggle="modal" data-target="#modal_terms">Términos y condiciones de uso</a></li>
          <li><a href="#privacy" class="h6 text-reset" data-toggle="modal" data-target="#modal_terms">Política de privacidad</a></li>
          <br>
          <li>contacto@terrenosurbanos.co</li>
          <li>Barránquilla, Colombia</li>
        </ul>
        <ul class="list-unstyled d-inline-flex">
          <li><a href="https://www.linkedin.com/in/lternerah/"><img src="<%= asset_path('linkedin.svg') %>" class="img-fluid m-2"></a></li>
          <li><a href="https://www.instagram.com/luisternera/"><img src="<%= asset_path('instagram.svg') %>" class="img-fluid m-2"></a></li>
        </ul>
      </div>
    </div>

    <div class="row" id="footer_copyright">
      <div class="col-12 text-center align-text-bottom m-2">
        <p class="m-1"><small>Copyright © 2020 Terrenos Urbanos S.A.S. Todos los derechos reservados.</small></p>
      </div>
    </div>
  </div>  
</footer>