 <!--FEATURES-->
  <div class="row" id="features">
    <!--FEATURE 1-->
    <div class="col-12 col-md-4 col-lg-4 ml-auto feature">
      <a href="/app_landing">
        <div class="card border-white p-1">
          <div class="card-body">
            <img class="img-fluid" src="<%= asset_path('project_1.jpg') %>" alt="feature 5">
            <h3 class="card-title font-weight-bold">APP</h3>
            <p class="card-text">Busque, compare y gestione el mejor terreno para su proyecto inmobiliario de forma rápida y confiable</p>
          </div>
        </div>
      </a>
    </div><!-- END FEATURE 1-->

    <!--FEATURE 2-->
    <div class="col-12 col-md-4 col-lg-4 ml-auto feature">
      <a href="/project">
        <div class="card border-white p-1">
          <div class="card-body">
            <img class="img-fluid" src="<%= asset_path('project_2.jpg') %>" alt="feature 5">
            <h3 class="card-title font-weight-bold">PROYECTOS</h3>
            <p class="card-text">Descubre la propuesta de valor de los proyectos que estamos desarrollando</p>
          </div>
        </div>
      </a>
    </div><!-- END FEATURE 2-->


    <!--FEATURE 2-->
    <div class="col-12 col-md-4 col-lg-4 ml-auto feature">
      <div class="card border-white p-1">
        <div class="card-body">
          <img class="img-fluid" src="<%= asset_path('project_5.jpg') %>" alt="feature 5">
          <h3 class="card-title font-weight-bold">BLOG</h3>
          <p class="card-text">Descubre buestra filosofia de trabajo y la actualidad en el mundo del desarrollo inmobiliario</p>
        </div>
      </div>
    </div><!-- END FEATURE 2-->
  </div><!--END FEATURES-->