<!--NAVBAR-->
<nav class="navbar navbar-expand-md navbar-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <img src="<%= asset_path('logo.png') %>" width="200" class="img-fluid" alt="Logo">
      <!--<p class="h4 d-inline-block text-center">Terrenos<br>Urbanos</p>-->
    </a>

    <ul class="navbar-nav ml-auto">  
      <li class="nav-item"><%= link_to "App", app_landing_path, class: "m-3 text-reset" %></li>
      <li class="nav-item"><%= link_to "Proyectos", project_path, class: "m-3 text-reset"  %></li>
    </ul>
  </div>
</nav><!--END NAVBAR-->