<div class="row my-5">
	<div class="col-12 my-5">
		<%= link_to "PROYECTOS", project_path, class: "h5 my-4 title text-reset" %>
	</div>
	
	<div class="col-md-4">
		<h5> -- CASA LAGUNAMAR</h5>
		<br class="d-none d-lg-inline-block">
		<img src="<%= asset_path('project_row.jpg') %>" class="img-fluid mt-2 mb-2 d-lg-none">
		<p>El proyecto propone el desarrollo de una vivienda unifamiliar para la venta localizada a 17,4km (25 min. aprox.) de la ciudad de Barranquilla en la vía la Cordialidad, atravesando la zona industrial de mayor desarrollo del departamento entre Galapa y Barranquilla. El proyecto se encuentra ubicado en la manzana 01 lote 02 dentro del Conjunto Residencial cerrado el Poblado Campestre Lagunamar.</p>
		<br class="d-none d-lg-inline-block">
		<%= link_to "+ información >>", project_path, class: "font-weight-bolder my-4 text-reset" %>
	</div>

	<div class="col-md-8 d-none d-lg-inline-block">
		<img src="<%= asset_path('project_row.jpg') %>" class="img-fluid mt-2 mb-2">
	</div>
</div>