<div class="row my-5">
	<div class="col-12 my-5">
		<%= link_to "PROYECTOS", projects_path, class: "h5 my-4 title text-reset" %>
	</div>

	<div class="col-md-4">
		<h5> 01_CASA LAGUNAMAR</h5>
		<p>El proyecto propone el desarrollo de una vivienda unifamiliar de más de 200m2 construidos sobre un terreno de 253m2 en un conjunto residencial campestre.</p>
		<h5> 02_CASA EL NARANJO</h5>
		<p>El proyecto se emplaza en un terreno de 1.100m2 de una vivienda multifamiliar, con el diseño y la construcción de una casa adicional de 100m2.</p>
		<br class="d-none d-lg-inline-block">
		<%= link_to "ver proyectos >>", projects_path, class: "font-weight-bolder my-4 pb-2 text-reset" %>
	</div>

	<div class="col-md-8">
		<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
		  <ol class="carousel-indicators">
		    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
		    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
		  </ol>
		  <div class="carousel-inner">
		    <div class="carousel-item active">
		      <img src="<%= asset_path('project-1_bw.jpg') %>" class="d-block w-100" alt="...">
		    </div>
		    <div class="carousel-item">
		      <img src="<%= asset_path('project-2_bw.jpg') %>" class="d-block w-100" alt="...">
		    </div>
		  </div>
		  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
		    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
		    <span class="sr-only">Previous</span>
		  </a>
		  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
		    <span class="carousel-control-next-icon" aria-hidden="true"></span>
		    <span class="sr-only">Next</span>
		  </a>
		</div>
	</div>
</div>
