  <!--VIDEO-->
  <div class="row" id="video">
    <div class="col-md-12 col-lg-8 ml-auto mr-auto mr-5">
      <div class="embed-responsive embed-responsive-16by9">
        <iframe  class="embed-responsive-item" src="https://www.youtube.com/embed/TIHr3pcGS4c" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
  </div><!--END VIDEO-->