<%= render 'navbar'%>

<div class="container"> 
	<div class="row">
		<div class="col-12">
			<p class="lead mt-4 mb-4 text-center" id="lead_text">Somos una desarrolladora de proyectos inmobiliarios en la ciudad de Barranquilla, buscamos crear un entorno colaborativo en el sector a través de la tecnología.</p>
		</div>
	</div>
</div>

<%= render 'footer'%>
<%= render 'terms'%>