<%= render 'navbar'%>

<div class="container-fluid"> 
	<div class="row">
		<div class="col-12">
			<p class="lead mt-4 mb-4" id="lead_text">Terrenos Urbanos es una desarrolladora de proyectos inmobiliarios en la ciudad de Barranquilla y sus alrededores. Promovemos el desarrollo en bienes raices a traves de una plataforma virtual colaborativa de analisis de tierra.</p>
		</div>
	</div>

	<%= render 'home-features'%>

</div>

<%= render 'footer'%>
<%= render 'terms'%>