<div class="container">
	<div class="row my-5">
		<div class="col-md-6">
			<%= link_to "Administar Blog", blogs_path, class: "btn btn-primary btn-block" %>
		</div>
		<div class="col-md-6">
			<%= link_to "Administar Lotes", lots_path, class: "btn btn-secondary btn-block" %>
		</div>
	</div>
</div>