<div id="lot_user_input_form">
  <p>
    <a class="btn btn-outline-secondary btn-block text-left mt-3" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
      Ingresar datos de análisis
    </a>
  </p>
  <div class="collapse" id="collapseExample">
    <div class="col-12 col-lg-6">
      <div class="input-group input-group-sm mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-sm">Área útil vendible (%):</span>
        </div>
        <input type="number" id="input_sellable_area" min="1" max="99" class="form-control font-weight-bold" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
      </div>
    </div>

    <div class="col-12 col-lg-6">
      <div class="input-group input-group-sm mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-sm">Precio venta/m2 (COP $):</span>
        </div>
        <input type="text" id="input_gross_sales" class="form-control font-weight-bold" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
      </div>
    </div>

    <div class="col-12 col-lg-6">
      <div class="input-group input-group-sm mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-sm ">Factor ALFA (%):</span>
        </div>
        <input type="number" id="input_alfa_factor" class="form-control font-weight-bold" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
      </div>
    </div>
  </div>
</div>