<div class="card mb-3 border-primary" id="property_card">
  <div class="card-header font-weight-bold  bg-primary text-white h5">ID: <span></span></div>
  <!--DESCRIPCION & NORMATIVA-->
  <div class="card-body">
      <div class="card-group">

        <div class="card">
          <div class="card-header">
            DESCRIPCIÓN
          </div id="lots_specs">
          <ul class="list-group list-group-flush">
            <li class="list-group-item" id="lot-address">Dirección Catastral: <span class="font-weight-bold"></span></li>
            <li class="list-group-item" id="lot-area_land">Área Terreno (m2): <span class="font-weight-bold"></span></li>
            <li class="list-group-item" id="lot-area_build">Área construida (m2): <span class="font-weight-bold"></span></li>
            <li class="list-group-item" id="lot-floors_build">Altura en pisos: <span class="font-weight-bold"></span></li>
            <li class="list-group-item" id="lot-use_build">Uso: <span class="font-weight-bold"></span></li>

            <li class="list-group-item">DIMENSIONES (metros)</li>
            <li class="list-group-item" id="lot-front_dim">Frente: <span class="font-weight-bold"></span></li>
            <li class="list-group-item" id="lot-left_dim">Lateral izquierdo: <span class="font-weight-bold"></span></li>
            <li class="list-group-item" id="lot-right_dim">Lateral derecho: <span class="font-weight-bold"></span></li>
            <li class="list-group-item" id="lot-back_dim">Fondo: <span class="font-weight-bold"></span></li>
          </ul>
        </div>      

        <div class="card">
          <div class="card-header">
            NORMATIVA
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item" id="lot-pot_polygon">Poligono normativo: <span class="font-weight-bold"></span></li>
            <li class="list-group-item" id="lot-pot_treatment">Tratamiento: <span class="font-weight-bold"></span></li>
            <li class="list-group-item" id="lot-pot_treatment_level">Nivel: <span class="font-weight-bold"></span></li>
            <li class="list-group-item" id="lot-density">Indice densidad viv.: <span class="font-weight-bold" id="lot-base_density"></span> (base) - <span class="font-weight-bold" id="lot-max_density"></span> (máximo)</li>
            <li class="list-group-item" id="lot-floors">Altura en pisos: <span class="font-weight-bold" id="lot-base_floors"></span> (base) - <span class="font-weight-bold" id="lot-max_floors"></span> (máximo)</li>

            <li class="list-group-item">ALINEAMIENTO LB-LC (metros)</li>
            <li class="list-group-item" id="lot-pot_front_align_lb_lc">Frente: <span class="font-weight-bold"></span></li>
            <li class="list-group-item" id="lot-pot_left_align_lb_lc">Lateral izquierdo: <span class="font-weight-bold"></span></li>
            <li class="list-group-item" id="lot-pot_right_align_lb_lc">Lateral derecho: <span class="font-weight-bold"></span></li>
            <li class="list-group-item" id="lot-pot_back_align_lb_lc">Fondo: <span class="font-weight-bold"></span></li>
          </ul>
        </div>    
      </div>
  </div>
  <!--POTENCIAL DE DESARROLLO-->
  <div class="card-body">
    <div class="card-group">

      <div class="card">
        <div class="card-header">
          POTENCIAL DE DESARROLLO BASE
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Área máxima de ocupación:</li>
          <li class="list-group-item">Área máxima de construcción:</li>
          <li class="list-group-item">Densidad máxima viviendas (unds):</li>
          <li class="list-group-item">Area útil vendible</li>
          <li class="list-group-item">Valor de ventas:</li>
          <li class="list-group-item">Costo máximo terreno:</li>
          <li class="list-group-item">Costo m2 terreno:</li>
        </ul>
      </div>
      <div class="card">
        <div class="card-header">
          POTENCIAL DE DESARROLLO MAXIMO
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Área máxima de ocupación:</li>
          <li class="list-group-item">Área máxima de construcción:</li>
          <li class="list-group-item">Densidad máxima viviendas (unds):</li>
          <li class="list-group-item">Area útil vendible</li>
          <li class="list-group-item">Valor de ventas:</li>
          <li class="list-group-item">Costo máximo terreno:</li>
          <li class="list-group-item">Costo m2 terreno:</li>
        </ul>
      </div>    
    </div>       
  </div>
</div>