<div class="row" hidden>
	<div class="col-12">
		<table class="table table-sm table-bordered table-striped text-center" id="table-pot_isolation">
			<thead>
				<tr>
					<th>ALTURA</th>
					<th>TIPOLOGIA</th>
					<th>AISLAMIENTO LATERAL 1</th>
					<th>AISLAMIENTO LATERAL 2</th>
					<th>AISLAMIENTO FONDO</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>1</td>
					<td>Continua</td>
					<td>0</td>
					<td>0</td>
					<td>2.5</td>
				</tr>
				<tr>
					<td>2</td>
					<td>Continua</td>
					<td>0</td>
					<td>0</td>
					<td>2.5</td>
				</tr>
				<tr>
					<td>3</td>
					<td>Continua</td>
					<td>0</td>
					<td>0</td>
					<td>2.5</td>
				</tr>
				<tr>
					<td>1</td>
					<td>Pareada</td>
					<td>2</td>
					<td>0</td>
					<td>2.5</td>
				</tr>
				<tr>
					<td>2</td>
					<td>Pareada</td>
					<td>2</td>
					<td>0</td>
					<td>2.5</td>
				</tr>
				<tr>
					<td>3</td>
					<td>Pareada</td>
					<td>2</td>
					<td>0</td>
					<td>2.5</td>
				</tr>
				<tr>
					<td>1</td>
					<td>Aislada</td>
					<td>1.5</td>
					<td>1.5</td>
					<td>2.5</td>
				</tr>
				<tr>
					<td>2</td>
					<td>Aislada</td>
					<td>1.5</td>
					<td>1.5</td>
					<td>2.5</td>
				</tr>
				<tr>
					<td>3</td>
					<td>Aislada</td>
					<td>1.5</td>
					<td>1.5</td>
					<td>2.5</td>
				</tr>
				<tr>
					<td>4</td>
					<td>Pareada</td>
					<td>3</td>
					<td>0</td>
					<td>4</td>
				</tr>
				<tr>
					<td>4</td>
					<td>Aislada</td>
					<td>2</td>
					<td>2</td>
					<td>4</td>
				</tr>
				<tr>
					<td>5</td>
					<td>Aislada</td>
					<td>3</td>
					<td>3</td>
					<td>4</td>
				</tr>
				<tr>
					<td>6</td>
					<td>Aislada</td>
					<td>3</td>
					<td>3</td>
					<td>4</td>
				</tr>
				<tr>
					<td>7</td>
					<td>Aislada</td>
					<td>4</td>
					<td>4</td>
					<td>4</td>
				</tr>
				<tr>
					<td>8</td>
					<td>Aislada</td>
					<td>4</td>
					<td>4</td>
					<td>4</td>
				</tr>
				<tr>
					<td>9</td>
					<td>Aislada</td>
					<td>4</td>
					<td>4</td>
					<td>4</td>
				</tr>
				<tr>
					<td>10</td>
					<td>Aislada</td>
					<td>5</td>
					<td>5</td>
					<td>5</td>
				</tr>
				<tr>
					<td>11</td>
					<td>Aislada</td>
					<td>5</td>
					<td>5</td>
					<td>5</td>
				</tr>
				<tr>
					<td>12</td>
					<td>Aislada</td>
					<td>5</td>
					<td>5</td>
					<td>5</td>
				</tr>
				<tr>
					<td>13</td>
					<td>Aislada</td>
					<td>6</td>
					<td>6</td>
					<td>6</td>
				</tr>
				<tr>
					<td>14</td>
					<td>Aislada</td>
					<td>6</td>
					<td>6</td>
					<td>6</td>
				</tr>
				<tr>
					<td>15</td>
					<td>Aislada</td>
					<td>6</td>
					<td>6</td>
					<td>6</td>
				</tr>
				<tr>
					<td>16</td>
					<td>Aislada</td>
					<td>7</td>
					<td>7</td>
					<td>7</td>
				</tr>
				<tr>
					<td>17</td>
					<td>Aislada</td>
					<td>7</td>
					<td>7</td>
					<td>7</td>
				</tr>
				<tr>
					<td>18</td>
					<td>Aislada</td>
					<td>7</td>
					<td>7</td>
					<td>7</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>