<!--NAVBAR-->
<nav class="navbar navbar-expand-md navbar-light bg_lgray fixed-top" id="app_navbar">
  <div class="container">
    <a class="navbar-brand text-secondary" href="/">
      <img src="<%= asset_path('logo.png') %>" class="img-fluid" alt="Logo">
      <p class="h4 d-none d-md-inline-block">Terrenos Urbanos</p>
      <p class="h6 d-md-none d-inline-block text-center">Terrenos<br>Urbanos</p>
    </a>
    <!--
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar">
      <span class="navbar-toggler-icon mb-0"></span> 
    </button>-->
  </div>
</nav><!--END NAVBAR-->

<!--CONTAINER-->
<div class="container-fluid">
  <!--ROW APP-->
  <div class="row" id="app">
  
     <div class="col-md-6 app-map" id="map" style="height: 400px">
         
     </div>

     <div class="col-md-6 app-properties" id="properties">

          <div class="card-group mt-3 mb-3" id="calcule_box">
            <div class="card">
              <div class="card-body">
                <label>( % ) Área útil vendible</label>
                <input type="number" name="user_area_util" class="search_form_w" id="user_area_util" value="{{ user_area_util }}">
              </div>
            </div>
            <div class="card">
              <div class="card-body">
                <label>Precio de venta / m2</label>
                <input type="number" name="user_valor_mc" class="search_form_w" id="user_valor_mc" value="{{ user_valor_mc }}">
              </div>
            </div>
            <div class="card">
              <div class="card-body">
                <label>( % ) Factor ALFA</label>
                <input type="number" name="user_alfa" class="search_form_w" id="user_f_alfa" value="{{ user_alfa }}">
              </div>
            </div>
          </div>

        <!--PROPERTY CARD-->
        <%= render "lot-card" %>
        <!--END PROPERTY CARD-->

     </div>
  </div><!--END ROW APP-->

  <!--DATABASE TABLE-->
  <%= render "lot-database" %>
  <!--END DATABASE TABLE-->

</div><!--END CONTAINER-->

<script type="text/javascript">
  // THIS PART FOR THE SIZE OF THE WINDOW
  var w = Math.max(document.documentElement.clientWidth, window.innerWidth || 0);
  var h = Math.max(document.documentElement.clientHeight, window.innerHeight || 0);


  // THIS PART FOR THE SIZE OF THE MAP
  $(document).ready(function(){
    $('div#map').css("height", h);
  });

  // THIS PART FOR THE MAP LOAD
  $(document).ready(function() {
    var mymap = L.map('map').setView([11.009417, -74.812083], 15);

          L.tileLayer('https://api.mapbox.com/styles/v1/lternera/cj3yv171306ma2rprn1soczke/tiles/256/{z}/{x}/{y}?access_token=pk.eyJ1IjoibHRlcm5lcmEiLCJhIjoiY2l6d3dsamlhMDFtdDMybHNiOWJsejB3byJ9.hMuAlbbTiS-HdnW41SwPlA', {
            attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>',
            maxZoom: 18,
            id: 'lternera.cj3yv8zhw0jap2rjxukdytcqf',
            accessToken: 'pk.eyJ1IjoibHRlcm5lcmEiLCJhIjoiY2l6d3dsamlhMDFtdDMybHNiOWJsejB3byJ9.hMuAlbbTiS-HdnW41SwPlA'
          }).addTo(mymap);

    var table_db_length = $("#table_db").children().children().length + 1 

    // LOADS MARKER TO MAP
    for (var i = 1; i < table_db_length; ++i) {
       this["marker"+i] = L.marker([parseFloat($( '#lot-'+i+'-location_lat').text()), parseFloat($( '#lot-'+i+'-location_long').text())]).on('click', showLotInfo).addTo(mymap);
    };

    // LOADS TOOLTIP TO MARKERS
    for (var i = 1; i < table_db_length; ++i) {
       this["marker"+i].bindTooltip($( '#lot-'+i+'-address').text(), {direction: 'top', permanent: true}).openTooltip();
    };

    // SHOWS LOTS INFO
    function showLotInfo(lot) {
      var selected_lot = lot.latlng['lat'];

      for (var i = 1; selected_lot !== found_lot; ++i) {
        var found_lot = parseFloat($( "#lot-"+i ).find( "td#lot-"+i+"-location_lat" ).text());
        if (selected_lot == found_lot) {
           $('div.card-header > span').text(i);

           var lot_address = $( "td#lot-"+i+"-address" ).text();
           $('li#lot-address > span').text(lot_address);

           var lot_area_land = $( "td#lot-"+i+"-area_land" ).text();
           $('li#lot-area_land > span').text(lot_area_land);

           var lot_area_build = $( "td#lot-"+i+"-area_build" ).text();
           $('li#lot-area_build > span').text(lot_area_build);

           var lot_floors_build = $( "td#lot-"+i+"-floors_build" ).text();
           $('li#lot-floors_build > span').text(lot_floors_build);

           var lot_use_build = $( "td#lot-"+i+"-use_build" ).text();
           $('li#lot-use_build > span').text(lot_use_build);

        };
      };
    };

  });
</script>