<!--NAVBAR-->
<%= render 'app_navbar' %>
<!--END NAVBAR-->

<!--CONTAINER-->
<div class="container-fluid">
  <!--ROW APP-->
  <div class="row" id="app">
  
     <div class="col-md-5 app-map" id="map" style="height: 400px">
         
     </div>

     <div class="col-md-7 app-properties" id="properties">

          <div class="card-group mt-3 mb-3" id="calcule_box">
            <div class="card">
              <div class="card-body">
                <label>( % ) Área útil vendible</label>
                <input type="number" name="user_area_util" class="search_form_w" id="user_area_util" value="{{ user_area_util }}">
              </div>
            </div>
            <div class="card">
              <div class="card-body">
                <label>Precio de venta / m2</label>
                <input type="number" name="user_valor_mc" class="search_form_w" id="user_valor_mc" value="{{ user_valor_mc }}">
              </div>
            </div>
            <div class="card">
              <div class="card-body">
                <label>( % ) Factor ALFA</label>
                <input type="number" name="user_alfa" class="search_form_w" id="user_f_alfa" value="{{ user_alfa }}">
              </div>
            </div>
          </div>

        <!--PROPERTY CARD-->
        <%= render "lot-card" %>
        <!--END PROPERTY CARD-->

     </div>
  </div><!--END ROW APP-->

  <!--DATABASE TABLE-->
  <%= render "lot-database" %>
  <!--END DATABASE TABLE-->

  <!--POT-ISOLATION TABLE-->
  <%= render "pot-isolation" %>
  <!--END POT-ISOLATION TABLE-->

</div><!--END CONTAINER-->

<script type="text/javascript">
  // THIS PART FOR THE SIZE OF THE WINDOW
  var w = Math.max(document.documentElement.clientWidth, window.innerWidth || 0);
  var h = Math.max(document.documentElement.clientHeight, window.innerHeight || 0);


  // THIS PART FOR THE SIZE OF THE MAP
  $(document).ready(function(){
    $('div#map').css("height", h);
  });

  // THIS PART FOR THE MAP LOAD
  $(document).ready(function() {
    var mymap = L.map('map').setView([11.009417, -74.812083], 15);

          L.tileLayer('https://api.mapbox.com/styles/v1/lternera/cj3yv171306ma2rprn1soczke/tiles/256/{z}/{x}/{y}?access_token=pk.eyJ1IjoibHRlcm5lcmEiLCJhIjoiY2l6d3dsamlhMDFtdDMybHNiOWJsejB3byJ9.hMuAlbbTiS-HdnW41SwPlA', {
            attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>',
            maxZoom: 18,
            id: 'lternera.cj3yv8zhw0jap2rjxukdytcqf',
            accessToken: 'pk.eyJ1IjoibHRlcm5lcmEiLCJhIjoiY2l6d3dsamlhMDFtdDMybHNiOWJsejB3byJ9.hMuAlbbTiS-HdnW41SwPlA'
          }).addTo(mymap);

    var table_db_length = $("#table_db").children().children().length + 1 

    // LOADS MARKER TO MAP
    for (var i = 1; i < table_db_length; ++i) {
       this["marker"+i] = L.marker([parseFloat($( '#lot-'+i+'-location_lat').text()), parseFloat($( '#lot-'+i+'-location_long').text())]).on('click', showLotInfo).addTo(mymap);
    };

    // LOADS TOOLTIP TO MARKERS
    for (var i = 1; i < table_db_length; ++i) {
       this["marker"+i].bindTooltip($( '#lot-'+i+'-code').text(), {direction: 'top', permanent: true}).openTooltip();
    };

    // SHOWS LOTS INFO
    function showLotInfo(lot) {
      var selected_lot = lot.latlng['lat'];

      for (var i = 1; selected_lot !== found_lot; ++i) {
        var found_lot = parseFloat($( "#lot-"+i ).find( "td#lot-"+i+"-location_lat" ).text());
        if (selected_lot == found_lot) {
           $('div.card-header > span').text(i);

           // DRESCRIPTION INFO
           var lot_address = $( "td#lot-"+i+"-address" ).text();
           $('li#lot-address > span').text(lot_address);

           var lot_area_land = $( "td#lot-"+i+"-area_land" ).text();
           $('li#lot-area_land > span').text(lot_area_land);

           var lot_area_build = $( "td#lot-"+i+"-area_build" ).text();
           $('li#lot-area_build > span').text(lot_area_build);

           var lot_floors_build = $( "td#lot-"+i+"-floors_build" ).text();
           $('li#lot-floors_build > span').text(lot_floors_build);

           var lot_use_build = $( "td#lot-"+i+"-use_build" ).text();
           $('li#lot-use_build > span').text(lot_use_build);

           var lot_front_dim = $( "td#lot-"+i+"-front_dim" ).text();
           $('li#lot-front_dim > span').text(lot_front_dim);

           var lot_left_dim = $( "td#lot-"+i+"-left_dim" ).text();
           $('li#lot-left_dim > span').text(lot_left_dim);

           var lot_right_dim = $( "td#lot-"+i+"-right_dim" ).text();
           $('li#lot-right_dim > span').text(lot_right_dim);

           var lot_back_dim = $( "td#lot-"+i+"-back_dim" ).text();
           $('li#lot-back_dim > span').text(lot_back_dim);


           // NORMATIVE INFO
           var lot_pot_polygon = $( "td#lot-"+i+"-pot_polygon" ).text();
           $('li#lot-pot_polygon > span').text(lot_pot_polygon);

           var lot_pot_treatment = $( "td#lot-"+i+"-pot_treatment" ).text();
           $('li#lot-pot_treatment > span').text(lot_pot_treatment);

           var lot_pot_treatment_level = $( "td#lot-"+i+"-pot_treatment_level" ).text();
           $('li#lot-pot_treatment_level > span').text(lot_pot_treatment_level);

           var lot_base_density = $( "td#lot-"+i+"-base_density" ).text();
           $('li#lot-density > span#lot-base_density').text(lot_base_density);

           var lot_max_density = $( "td#lot-"+i+"-max_density" ).text();
           $('li#lot-density > span#lot-max_density').text(lot_max_density);

           var lot_base_floors = $( "td#lot-"+i+"-base_floors" ).text();
           $('li#lot-floors > span#lot-base_floors').text(lot_base_floors);

           var lot_max_floors = $( "td#lot-"+i+"-max_floors" ).text();
           $('li#lot-floors > span#lot-max_floors').text(lot_max_floors);

           var lot_pot_front_align_lb_lc = $( "td#lot-"+i+"-pot_front_align_lb_lc" ).text();
           $('li#lot-pot_front_align_lb_lc > span').text(lot_pot_front_align_lb_lc);

           var lot_pot_left_align_lb_lc = $( "td#lot-"+i+"-pot_left_align_lb_lc" ).text();
           $('li#lot-pot_left_align_lb_lc > span').text(lot_pot_left_align_lb_lc);

           var lot_pot_right_align_lb_lc = $( "td#lot-"+i+"-pot_right_align_lb_lc" ).text();
           $('li#lot-pot_right_align_lb_lc > span').text(lot_pot_right_align_lb_lc);

           var lot_pot_back_align_lb_lc = $( "td#lot-"+i+"-pot_back_align_lb_lc" ).text();
           $('li#lot-pot_back_align_lb_lc > span').text(lot_pot_back_align_lb_lc);

           // ANALYSIS INFO
           //BASE
           var lot_base_density_result = lot_base_density * lot_area_land;
           $('li#lot-base_density_result > span').text(lot_base_density_result);

           var lot_base_area_ocupation_result = lot_area_land - 100;
           $('li#lot-base_area_ocupation_result > span').text(lot_base_area_ocupation_result);

           var lot_base_area_build_result = lot_base_area_ocupation_result * lot_base_floors;
           $('li#lot-base_area_build_result > span').text(lot_base_area_build_result);

           //MAX
           var lot_max_density_result = lot_max_density * lot_area_land;
           $('li#lot-max_density_result > span').text(lot_max_density_result);

        };
      };

    };

  });
</script>