<!--NAVBAR-->
<%= render 'properties-navbar' %>
<!--END NAVBAR-->

<!--CONTAINER-->
<div class="container-fluid">
  <!--ROW APP-->
  <div class="row" id="app">
  
     <div class="col-md-5 app-map" id="map" style="height: 400px">
         
     </div>

     <div class="col-md-7 app-properties" id="properties">
        <div class="row mt-3">
          <!--PROPERTY CARD-->
          <%= render "property-card" %>
          <!--END PROPERTY CARD-->
        </div>
     </div>
  </div>
  <!--END ROW APP-->

</div><!--END CONTAINER-->

<script type="text/javascript">
  // THIS PART FOR THE SIZE OF THE WINDOW
  var w = Math.max(document.documentElement.clientWidth, window.innerWidth || 0);
  var h = Math.max(document.documentElement.clientHeight, window.innerHeight || 0);

  // SIZES MAP HEIGHT DEPENDING ON VIEWPORT WIDTH
  $(document).ready(function(){
    var h_mobile = h / 1.8;
    if (w < 768) {
      $('div#map').css("height", h_mobile);
      $('.leaflet-control-attribution').hide()
    } else {
      $('div#map').css("height", h);
    };
  });

  // THIS PART FOR THE MAP LOAD
  $(document).ready(function() {
    var mymap = L.map('map').setView([10.462825, -74.615690], 15);

          L.tileLayer('https://api.mapbox.com/styles/v1/lternera/cj3yv171306ma2rprn1soczke/tiles/256/{z}/{x}/{y}?access_token=pk.eyJ1IjoibHRlcm5lcmEiLCJhIjoiY2l6d3dsamlhMDFtdDMybHNiOWJsejB3byJ9.hMuAlbbTiS-HdnW41SwPlA', {
            attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>',
            maxZoom: 18,
            id: 'lternera.cj3yv8zhw0jap2rjxukdytcqf',
            accessToken: 'pk.eyJ1IjoibHRlcm5lcmEiLCJhIjoiY2l6d3dsamlhMDFtdDMybHNiOWJsejB3byJ9.hMuAlbbTiS-HdnW41SwPlA'
          }).addTo(mymap);

        var myIcon = L.divIcon({className: 'lot_icon'})
        var myIconSelected = L.divIcon({className: 'lot_icon_selected'})
        var table_db_length = $("#properties").children().children().length + 1

        // LOADS MARKER TO MAP
        for (var i = 1; i < table_db_length; ++i) {
           this["marker"+i] = L.marker([parseFloat($( '#property-'+i+'-location_lat').text()), parseFloat($( '#property-'+i+'-location_long').text())], {icon: myIcon}).addTo(mymap);

           // CHANGES FORMAT OF PRICE
           var property_price = $( '#property-card-'+i+'-price' ).text();
           $('#property-card-'+i+'-price').text(new Intl.NumberFormat('en-US', {maximumFractionDigits: 2}).format(property_price));

            this["marker"+i].on('click', function(e) {
              e.target.setIcon(myIconSelected);
              var input_present = $( "#input_sellable_area" ).val();
              if (input_present.length > 0) {
                //ERASE DATA
                $('li#lot-base_sellable_area > span').empty();
                //MAX
                $('li#lot-max_sellable_area > span').empty();
                //BASE
                $('li#lot-base_gross_sales > span').empty();
                //MAX
                $('li#lot-max_gross_sales > span').empty();
                //BASE
                $('li#lot-base_price_weight > span').empty();
                //MAX
                $('li#lot-max_price_weight > span').empty();
                //BASE
                $('li#lot-base_land_price > span').empty();
                //max
                $('li#lot-max_land_price > span').empty();
                //END ERASE DATA

                var property_price = $('div.card > #property-card-i-price').text().replace(/,/g, '');
                var lot_area_land = $('li#lot-area_land > span').text();
                // NORMATIVE INFO
                var lot_base_density = $('li#lot-density > span#lot-base_density').text();
                var lot_max_density = $('li#lot-density > span#lot-max_density').text();
                var lot_base_floors = $('li#lot-floors > span#lot-base_floors').text();
                var lot_max_floors = $('li#lot-floors > span#lot-max_floors').text();
                // ANALYSIS INFO
                var lot_area_occupation = $('li#lot-base_area_occupation > span').text();
                //BASE
                var lot_base_density_result = $('li#lot-base_density_result > span').text();
                var lot_base_area_build_result = lot_area_occupation * lot_base_floors;
                //MAX
                var lot_max_density_result = lot_max_density * lot_area_land;
                var lot_max_area_build_result = lot_area_occupation * lot_max_floors;
                // ANALYSIS INFO INPUTS
                //BASE
                var input_sellable_area = $( "#input_sellable_area" ).val();
                var lot_base_sellable_area = lot_base_area_build_result * input_sellable_area / 100;
                $('li#lot-base_sellable_area > span').text(new Intl.NumberFormat('en-US', {maximumFractionDigits: 2}).format(lot_base_sellable_area));
                //MAX
                var lot_max_sellable_area = lot_max_area_build_result * input_sellable_area / 100;
                $('li#lot-max_sellable_area > span').text(new Intl.NumberFormat('en-US', {maximumFractionDigits: 2}).format(lot_max_sellable_area));
                //BASE
                var input_gross_sales = $( "#input_gross_sales" ).val();
                var lot_base_gross_sales = input_gross_sales.replace(/,/g, '') * lot_base_sellable_area
                $('li#lot-base_gross_sales > span').text(new Intl.NumberFormat('en-US', {style: "currency", currency: "COP"}).format(lot_base_gross_sales));
                //MAX
                var lot_max_gross_sales = input_gross_sales.replace(/,/g, '') * lot_max_sellable_area
                $('li#lot-max_gross_sales > span').text(new Intl.NumberFormat('en-US', {style: "currency", currency: "COP"}).format(lot_max_gross_sales));
                //BASE
                var lot_base_price_weight = lot_price * 100 / lot_base_gross_sales
                $('li#lot-base_price_weight > span').text(new Intl.NumberFormat('en-US', {maximumFractionDigits: 2}).format(lot_base_price_weight));
                //MAX
                var lot_max_price_weight = lot_price * 100 / lot_max_gross_sales
                $('li#lot-max_price_weight > span').text(new Intl.NumberFormat('en-US', {maximumFractionDigits: 2}).format(lot_max_price_weight));
                //BASE
                var input_alfa_factor = $( "#input_alfa_factor" ).val();
                var lot_base_land_price = lot_base_gross_sales * input_alfa_factor / 100
                $('li#lot-base_land_price > span').text(new Intl.NumberFormat('en-US', {style: "currency", currency: "COP"}).format(lot_base_land_price));
                //max
                var lot_max_land_price = lot_max_gross_sales * input_alfa_factor / 100
                $('li#lot-max_land_price > span').text(new Intl.NumberFormat('en-US', {style: "currency", currency: "COP"}).format(lot_max_land_price));
              };
            });
        };
   });
</script>