/* APP NAVBAR*/

#app_navbar {
    background-color: white;
    border-bottom: 2px solid lightgray;

    .logo_text {
      font-weight: 800;
      letter-spacing: 5px;
      font-size: 20px;
      color: #1938d1;
    }
}

@media only screen and (max-width: 767px) {
    #app_navbar {
        padding-bottom: 0px;
        padding-top: 0px;

        .logo_text {
          font-size: 18px;
        }
    }
}

/* END APP NAVBAR*/

#btn_menu {
    padding-right: 12px;
}

#app {
    display: block;
}

.app-head {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    border-bottom: 1px solid darkgray;
    height: 60px;
}

.app-properties {
    border-top: 1px solid lightgray;
    padding-top: 68px;
    float: right;
}

@media only screen and (max-width: 767px) {
    .app-properties {
        padding-top: 0px;
    }
}

#text_non_property {
    color: #cacaca;
    text-align: center;
}

.app-map {
    position: fixed;
    border: 1px solid lightgray;
    border-top-width: 68px;
}

#calcule_box {
    font-size: 0.85rem;
}

#property_card {
    background-color: #fbfbfb;

    .card {
        background-color: #fbfbfb;
    }

    li {
        font-size: 0.85rem;
        background-color: #fbfbfb;
    }

}

.property-box-head {
    display: inline-flex;
}

.property-box {
    border-bottom: 1px solid darkgray;
    display: inline-block;
    padding-top: 15px;
    font-size: 12px;
}

.property-num {
    font-family: "Montserrat", sans-serif;
    font-size: 40px;
    color: darkgray;
    margin-right: 20px;
}

.property-list {
    list-style-type: none;
    padding-left: 5px;
}

.well {
    background-color: #202020;
    color: white;
    margin-bottom: 0px;
    border: 0px;
}


@media only screen and (max-width: 1025px) {
    .search_form_box {
        font-size: 10px;
    }

    .user_form_box {
        font-size: 11px;
    }

    #consult {
        width: 105px;
    }

    h4 {
        font-size: 16px;
    }

    .property-list {
        font-size: 10px;
    }
}


@media only screen and (max-width: 992px) {
    .app-properties {
        background-color: #f5f5f5;
        border: 1px solid lightgray;
        float: right;
    }

    .app-map {
        position: relative;
        height: 200px;
    }
}