/* JUMBOTRON */

#head {
  padding-bottom: 150px;
  background-color: white;
  
  .lead {
    margin: 0px 50px 0px 50px;
  }
}

#input_city {
  background-color: #ddd;
}

@media only screen and (max-width: 767px) {
    #head {
      padding-bottom: 70px;

      h1 {
        font-size: 2.7rem;
      }

      p {
        font-size: 1rem;
      }

      .lead {
        margin: 0px 20px 0px 20px;
      }
    }
}

/* END JUMBOTRON */


/* FEATURES */

#features {
  padding: 70px 0 70px 0;
}

.feature h5 {
  font-size: 1rem;
}

.feature p {
  font-size: 0.9rem;
}

.feature img {
  margin-bottom: 20px;
}

@media only screen and (max-width: 767px) {
    .feature img {
      width: 60%;
    }
}

/* END FEATURES */


#video {
  padding: 70px 0 150px 0;
}

/* FOOTER */

.bg_black {
  background-color: black;
}

@media only screen and (max-width: 767px) {
    #footer h6 {
      font-size: 0.9rem;
    }

    #footer li {
      font-size: 0.7rem;
    }

    #footer .h6 {
      font-size: 0.9rem;
    }
}

/* END FOOTER */