/* HELPERS */

.purple_color {
  color: #1938d1;
}

.title {
  font-weight: 800;
  letter-spacing: 5px;
  font-size: 20px;
}

.blog_title {
  letter-spacing: 4px;
  font-size: 1.8rem;
}

@media only screen and (max-width: 767px) {
  .title {
    font-weight: 800;
    letter-spacing: 4px;
    font-size: 1.0rem;
  }

  .blog_title {
    letter-spacing: 4px;
    font-size: 1.0rem;
  }
}

/* END HELPERS */

/* NAVBAR */

.navbar {
    .nav-item {
      font-weight: 500;
    }
}

.logo_text {
  font-weight: 800;
  letter-spacing: 5px;
  font-size: 20px;
}

/* LEAD */

#lead_text {
  font-weight: 600;
  font-size: 1.9rem;
  color: #1938d1;
  letter-spacing: 1px;
  padding-top: 40px;
  padding-bottom: 60px;
}

@media only screen and (max-width: 767px) {
  #lead_text {
    font-size: 1.2rem;
    padding-bottom: 30px;
  }
}

/* END NAVBAR */

/* APP ROW */

#app_row {
  background-color: #155de9;
  height: 600px;
}

#app_row_image {
  background: url(asset_path("app_row_image.jpg"));
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#app_explore_box {
  margin: 0 auto;
  width: 50%;
  padding: 40px;
  background-color: white;
  box-shadow: -10px 12px #1938d1;
}

@media only screen and (max-width: 767px) {
  #app_row_image {
    height: 40%;
  }

  #app_explore_box {
    margin: 0 auto;
    width: 90%;
    height: 80%;
    padding: 30px 0px;
  }
}

/* END APP ROW */

/* FOOTER */

#footer_contact {
  background-color: #155de9;
  padding-top: 60px;
  padding-bottom: 40px;
}

#footer_copyright {
  background-color: #313131;
}

#footer_logo {
  font-size: 23px;
}

@media only screen and (max-width: 767px) {
    #footer h6 {
      font-size: 0.9rem;
    }

    #footer li {
      font-size: 0.7rem;
    }

    #footer .h6 {
      font-size: 0.9rem;
    }
}

/* END FOOTER */



/* APP LANDING PAGE */

/* Jumbotron */

#head {
  padding-bottom: 150px;
  background-color: white;
  
  .lead {
    margin: 0px 50px 0px 50px;
  }
}

#input_city {
  background-color: #ddd;
}

@media only screen and (max-width: 767px) {
    #head {
      padding-bottom: 70px;

      h1 {
        font-size: 2.4rem;
      }

      p {
        font-size: 0.9rem;
      }

      .lead {
        margin: 0px 20px 0px 20px;
      }
    }
}

/* End Jumbotron */

/* Features */

#features {
  padding: 30px 0 30px 0;
}

.feature h5 {
  color: black;
  font-size: 1rem;
}

.feature p {
  color: black;
  font-size: 1rem;
}

.feature img {
  width: 75%;
  margin-bottom: 20px;
}

/* END FEATURES */


#video {
  padding: 70px 0 150px 0;
}
