/* NAVBAR */

.navbar {

    .nav-item {
      font-weight: 500;
    }
}

.logo_text {
  font-weight: 800;
  letter-spacing: 5px;
  font-size: 20px;
}

#lead_text {
  font-weight: 600;
  font-size: 1.9rem;
  color: #1938d1;
  letter-spacing: 1px;
  padding-top: 40px;
  padding-bottom: 60px;
}

#head {
  padding-bottom: 150px;
  background-color: white;
  
  .lead {
    margin: 0px 50px 0px 50px;
  }
}

#input_city {
  background-color: #ddd;
}

@media only screen and (max-width: 767px) {
    #head {
      padding-bottom: 70px;

      h1 {
        font-size: 2.7rem;
      }

      p {
        font-size: 1rem;
      }

      .lead {
        margin: 0px 20px 0px 20px;
      }
    }
}

/* END JUMBOTRON */


/* FEATURES */

#features {
  padding: 30px 0 30px 0;
}

.feature h3 {
  color: black;
}

.feature p {
  color: black;
  font-size: 1.2rem;
}

.feature img {
  margin-bottom: 20px;
}

/* END FEATURES */


#video {
  padding: 70px 0 150px 0;
}

/* FOOTER */

#footer_contact {
  background-color: #1938d1;
  padding-top: 60px;
  padding-bottom: 40px;
}

#footer_copyright {
  background-color: #313131;
}

#footer_logo {
  font-size: 23px;
}

@media only screen and (max-width: 767px) {
    #footer h6 {
      font-size: 0.9rem;
    }

    #footer li {
      font-size: 0.7rem;
    }

    #footer .h6 {
      font-size: 0.9rem;
    }
}

/* END FOOTER */